/* ./src/index.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'DM Sans', sans-serif;
}

@layer base {
    p {
        @apply text-gray-500;
    }
    h2 {
        @apply uppercase text-black font-medium text-lg mb-8;
    }
}

@layer components {
    .grid-footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
    }
    .blob {
        border-radius: 59% 41% 64% 36% / 42% 53% 47% 58%;
    }
    .line-animation-orange-600 {
        @apply from-orange-600 to-orange-600;
    }
    .line-animation-red-800 {
        @apply from-red-800 to-red-800;
    }
    .line-animation {
        @apply bg-gradient-to-r;
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 0 2px;
        transition: background-size 0.5s ease;
    }
    .line-animation:hover {
        background-size: 100% 2px;
    }
}


.container  {
    @apply max-w-[1024px] w-[100%];
}

.center {
    @apply absolute inset-0 flex justify-center items-center;
}

.orbit {
    @apply aspect-square relative;
}

.orbit-spinning {
    @apply rounded-full border-gray-500 border-2 border-dashed animate-spin;
    animation-duration: 10s;
}

.orbit-sm {
    @apply h-[40%];
}

.orbit-md {
    @apply h-[70%];
}

.orbit-lg {
    @apply h-[110%];
}

.scale-300 {
    transform: scale(3);
    -o-transform: scale(3);
}