/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    p {
        @apply text-gray-500;
    }
    h2 {
        @apply uppercase text-black font-medium text-lg mb-8;
    }
}

@layer components {
    .grid-footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
    }
}

.container  {
    @apply max-w-[1024px] w-[100%];
}

.center {
    @apply absolute inset-0 flex justify-center items-center;
}

/* .orbit {
    @apply rounded-full border-gray-400 border-2 border-dashed aspect-square absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] rotate-45 transition-all hover:rotate-180;
} */

.orbit {
    @apply aspect-square relative;
}

.orbit-spinning {
    @apply rounded-full border-gray-400 border-2 border-dashed animate-spin;
    animation-duration: 10s;
}

.orbit-sm {
    @apply h-[40%];
}

.orbit-md {
    @apply h-[70%];
}

.orbit-lg {
    @apply h-[110%];
}

.scale-300 {
    transform: scale(3);
    -o-transform: scale(3);
}